node_modules/

dist/
out/

*.log
*.tmp
*.bak
*.swp

.DS_Store      # macOS
Thumbs.db      # Windows
Desktop.ini    # Windows

.vscode/
*.code-workspace

.env
.env.local
process.env

config/local.json
personal_script.sh
secret.txt

note.txt
backend/server.js