# Auto detect text files and perform LF normalization
* text=auto

# Text files
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.njk text eol=lf
*.json text eol=lf
*.md text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
