header{
    background-image:url(img/zaszlo.png);
    height:500px;
    background-position:center;
    text-align:center;
}
h1{
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font-variant:small-caps;
    letter-spacing:2px;
}
h2{
    font-family:'Times New Roman', Times, serif;
}
p{
    text-align:justify;
    text-indent:2px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
.discordinvite{
    color:white;
    text-decoration:none;
}
/*<div class="col-md-1">
<ul class="nav flex-column nav-pills">
    <li class="nav-item">
        <a class="nav-link bg-danger active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle bg-danger active" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link bg-danger active" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li>
</ul>
</div>*/